.projectsSection {
  padding: 1rem 2rem;
  background: #000;
  color: #fff;
}

.title {
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: bold;
  color: #ffaad5;
  margin-bottom: 1rem;
  /* margin-top: 0vh; */
  font-family: var(--font-bricolage), sans-serif;
}

.intro {
  max-width: 50%;
  margin-bottom: 2rem;
  font-size: 12px;
  color: #b0aeae;
  line-height: 1.6;
  text-align: justify;;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 330px)); 
  gap: 3rem;
  justify-content: center;
}

.card {
  background: #222;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  height: 350px;             
}

.linkWrapper {
  text-decoration: none;
  color: inherit;
}

.imageWrapper {
  flex: 0 0 60%;              
  width: 100%;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;          
  display: block;
  object-position: center; 
}

.cardContent {
  flex: 0 0 40%;              
  padding: 1rem;  
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;           
}

.card h2 {
  font-size: 18px;
  margin-bottom: 0%;
 
}

.card h2 a {
  color: #fffdfe;           
  text-decoration: none;     
  font-weight: bold;       
  transition: color 0.2s ease-in-out;
}

.card h2 a:hover {
  color: #fbe9f2;           
 
}

.card p {
  font-size: 11px;
  line-height: 1.4;
  max-height: calc(1.4em * 3); 
  overflow: hidden;
  color: #d4cece;
  margin-top: 0%;
}

.tech {
  font-style: italic;
  font-size: 15px;
  color: #ccc;
}

.links {
  margin-top: auto;           
  display: flex;
  gap: 1rem;
}

.links a {
  color: #ffaad5;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s;
}

.links a:hover {
  color: #fbe9f2;
}

/* Tablet & Mobile */
@media (max-width: 1024px) {
  .projectsSection {
    padding: 2rem 1rem;
    text-align: center;
  }

  .title {
    font-size: clamp(1.8rem, 5vw, 3rem);
    margin-bottom: 1.2rem;
    text-align: center; 
  }

  .intro {
    max-width: 90%;
    margin: 0 auto 2rem; 
    font-size: 13px;
    line-height: 1.6;
    text-align: justify;
    text-align-last: center; 
  }

 
}
